

<!DOCTYPE html>
<html>
  <head>
    <title>{{ inventory_hostname }} - {{ item.name }}</title>
  </head>
  <body>
    <h1>Bem-vindo ao {{ item.name }}</h1>
    <p>Deploy realizado com sucesso pelo Ansible!</p>
  </body>
</html>
