PyJWT
adal
azure-cli
azure-common
azure-core
azure-identity
azure-mgmt-authorization
azure-mgmt-compute
azure-mgmt-containerservice
azure-mgmt-dns
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-network
azure-mgmt-policyinsights
azure-mgmt-resource
azure-mgmt-security
azure-mgmt-storage
azure-mgmt-subscription
azure-mgmt-trafficmanager
azure-mgmt-web
azure-storage-blob
azure-storage-file-share
azure-storage-queue
azure_applicationinsights
azure_batch
azure_cosmosdb_nspkg
azure_cosmosdb_table
azure_datalake_store
azure_eventgrid
azure_graphrbac
azure_loganalytics
azure_mgmt_advisor
azure_mgmt_applicationinsights
azure_mgmt_batch
azure_mgmt_batchai
azure_mgmt_billing
azure_mgmt_cdn
azure_mgmt_cognitiveservices
azure_mgmt_commerce
azure_mgmt_consumption
azure_mgmt_containerinstance
azure_mgmt_containerregistry
azure_mgmt_cosmosdb
azure_mgmt_datafactory
azure_mgmt_datalake_analytics
azure_mgmt_datalake_nspkg
azure_mgmt_datalake_store
azure_mgmt_datamigration
azure_mgmt_devspaces
azure_mgmt_devtestlabs
azure_mgmt_eventhub
azure_mgmt_hanaonazure
azure_mgmt_iotcentral
azure_mgmt_iothub
azure_mgmt_iothubprovisioningservices
azure_mgmt_logic
azure_mgmt_machinelearningcompute
azure_mgmt_managementgroups
azure_mgmt_managementpartner
azure_mgmt_maps
azure_mgmt_marketplaceordering
azure_mgmt_media
azure_mgmt_notificationhubs
azure_mgmt_powerbiembedded
azure_mgmt_rdbms
azure_mgmt_recoveryservices
azure_mgmt_recoveryservicesbackup
azure_mgmt_redis
azure_mgmt_relay
azure_mgmt_reservations
azure_mgmt_scheduler
azure_mgmt_search
azure_mgmt_servicebus
azure_mgmt_servicefabric
azure_mgmt_signalr
azure_mgmt_sql
azure_nspkg
azure_servicebus
azure_servicefabric
azure_servicemanagement_legacy
azure_storage_common
azure_storage_file
azure_storage_queue
certifi
cffi
chardet
cryptography
idna
isodate
msrest
msrestazure
oauthlib
pyOpenSSL
pycryptodome
python_dateutil
requests
requests_oauthlib
setuptools
six
sqlite_bro
urllib3
wheel
