# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#
[inventory]
enable_plugins          =  host_list, script, auto, yaml, ini, toml, azure.azcollection.azure_rm

[defaults]
#ansible_python_interpreter = /home/rafael/ansible-azure-env/bin/python3
#collections_paths = /usr/lib/python3/dist-packages/ansible_collections:/home/rafael/.ansible/collections



#[azure.azcollection]
#api_profile = latest

